html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

main, footer{
    display: flex;
    flex-direction: column;
}

li{display: inline;}




/*----------------------------------------*/
/*---------------- LIST ------------------*/
/*----------------------------------------*/

aside{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

aside>div{
    cursor: pointer; 
    background-color: white;
    margin: 10px;
    width: 20%;
    height: 40%;
    border: 1px solid gray;
    aspect-ratio: 0.9; 
    display: flex;
    flex-direction: column;
}

aside>div>img{
    height: auto;
    max-height: 50%;
    width: 100%;
}

aside>div>h3{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 15%;
}
aside>div>p{
    padding-left: 10px;
    padding-right: 10px;
    height: 25%;
}
aside>div>button{
    height: 8%;
    width: 35%;
}

aside>div>button, aside>div>p, aside>div>h3{
    margin: 5px;
}

#breadcrumbsNav{
    display: flex;
    padding-left: 13%;
    padding-top: 1%;
    width: 100%;
    height: 4%;
}


/*----------------------------------------*/
/*--------------- HEADER -----------------*/
/*----------------------------------------*/
header{
    padding-left: 10%;
    padding-top:15px;
    padding-right: 5%;
    display: flex;
    justify-content: end;
}
h1{
    width: 80%;
    text-align: center;

    height: inherit;
    margin-bottom: 8px;
}

header>input{
    height: 20%;
    width: 20%;
    margin-right: 10px;

}

/*----------------------------------------*/
/*--------------- NAVBAR -----------------*/
/*----------------------------------------*/

navbar{
    display: flex;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid black;
    background-color: gray; 
}
navbar>div{
    width: 15%;
}
navbar>ul{
    width: 84%;
    text-align: end;
    padding-right: 35px;
}
navbar>ul>li{
    margin-left: 20px;
}
navbar>div>img {
    cursor: pointer;
    transform: translateY(10%);
    height: 40px;
    width: auto;
    margin-left: 5px; 
}
a {
    color: black; 
    font-weight: 550;
    text-decoration: none; 
}

/*----------------------------------------*/
/*--------------- FOOTER -----------------*/
/*----------------------------------------*/



footer {
    background-color: gray;
    border-top: 1px solid black;
    width: 100%;
        
}

footer>section {
    display: flex;
    align-items: center; 
}

footer>section {
    justify-content: space-between;
}

section>h3{
    width: 70%;
    height: 80%;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 300;
}

section>img{
    width: 25px;
    height: 25px;
    align-self: right;
    margin-left: 10px;

}

section>ul{
    margin: 5px;
    width: 70%;
    text-align: center;
}

footer>section:last-child>div{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

section>ul>li{
    margin-left: 60px;
    cursor: pointer;
}
footer .social-logos img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

